n8n-workflow-final.json
{
  "name": "Todo AI Assistant - Final Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "webhook-node"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger", 
      "typeVersion": 1.2,
      "position": [240, 500],
      "credentials": {
        "telegramApi": {
          "name": "YOUR_TELEGRAM_BOT_CREDENTIALS"
        }
      },
      "id": "telegram-node"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del input\nlet text, userEmail, isFromTelegram = false;\n\n// Determinar si viene de Webhook o Telegram\nconst inputJson = $json;\n\nif (inputJson.message && inputJson.message.text && inputJson.message.chat) {\n  // Es de Telegram - requiere #to-do\n  text = inputJson.message.text;\n  userEmail = 'telegram-user@example.com';\n  isFromTelegram = true;\n  \n  if (!text.includes('#to-do')) {\n    return [{ json: { error: true, message: 'Telegram messages must include #to-do', isFromTelegram: true } }];\n  }\n  \n  text = text.replace('#to-do', '').trim();\n} else if (inputJson.message && inputJson.user_email) {\n  // Es del webhook web app - no requiere #to-do\n  text = inputJson.message.text;\n  userEmail = inputJson.user_email;\n  isFromTelegram = false;\n} else {\n  return [{ json: { error: true, message: 'Invalid input format' } }];\n}\n\nif (!text.trim()) {\n  return [{ json: { error: true, message: 'Empty todo text', isFromTelegram: isFromTelegram } }];\n}\n\nreturn [{ \n  json: { \n    title: text.trim(), \n    user_email: userEmail,\n    isFromTelegram: isFromTelegram,\n    originalText: text\n  } \n}];"
      },
      "name": "Extract Todo Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 400],
      "id": "extract-node"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente que mejora títulos de tareas. Convierte títulos simples en títulos más claros y específicos.\n\nReglas:\n1. Mantén el título conciso pero claro\n2. Haz que sea específico y accionable\n3. Si es muy vago, sugiere detalles\n4. Mantén el idioma original\n5. SIEMPRE responde en formato JSON válido",
              "role": "system"
            },
            {
              "content": "Mejora este título de tarea: \"{{ $json.title }}\"\n\nRespuesta en formato JSON:\n{\n  \"enhanced_title\": \"título mejorado\",\n  \"changed\": true/false,\n  \"improvements\": \"explicación de los cambios\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "AI Enhance Title",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [680, 400],
      "credentials": {
        "openAiApi": {
          "name": "YOUR_OPENAI_CREDENTIALS"
        }
      },
      "id": "ai-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xbssinixkkfnhqpivtyz.supabase.co/rest/v1/todos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhic3Npbml4a2tmbmhxcGl2dHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMTEzNDUsImV4cCI6MjA3MTg4NzM0NX0.lYKuKaztO7VblydXidtcoeLRaxOyqCrYSByHnT-atko"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhic3Npbml4a2tmbmhxcGl2dHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMTEzNDUsImV4cCI6MjA3MTg4NzM0NX0.lYKuKaztO7VblydXidtcoeLRaxOyqCrYSByHnT-atko"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.enhanced_title }}\",\n  \"completed\": false,\n  \"user_email\": \"{{ $('Extract Todo Data').item.json.user_email }}\"\n}",
        "options": {}
      },
      "name": "Create Todo in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 400],
      "id": "supabase-node"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Extract Todo Data').item.json.isFromTelegram }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Route Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 400],
      "id": "route-node"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ Tarea creada: \"{{ $json[0].title }}\"\n\n🤖 Mejorado por IA:\n• Original: \"{{ $('Extract Todo Data').item.json.title }}\"\n• Mejorado: \"{{ $('AI Enhance Title').item.json.enhanced_title }}\"",
        "additionalFields": {}
      },
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "name": "YOUR_TELEGRAM_BOT_CREDENTIALS"
        }
      },
      "id": "telegram-send-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Tarea creada exitosamente\",\n  \"todo\": {{ JSON.stringify($json[0]) }},\n  \"aiEnhanced\": {{ $('AI Enhance Title').item.json.changed }},\n  \"original\": \"{{ $('Extract Todo Data').item.json.title }}\",\n  \"enhanced\": \"{{ $('AI Enhance Title').item.json.enhanced_title }}\"\n}",
        "options": {}
      },
      "name": "Web App Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 500],
      "id": "web-response-node"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Extract Todo Data').item.json.error }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 550],
      "id": "error-check-node"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ {{ $('Extract Todo Data').item.json.message }}\n\nEjemplo: #to-do comprar leche",
        "additionalFields": {}
      },
      "name": "Send Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 600],
      "credentials": {
        "telegramApi": {
          "name": "YOUR_TELEGRAM_BOT_CREDENTIALS"
        }
      },
      "id": "telegram-error-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $('Extract Todo Data').item.json.message }}\"\n}",
        "options": {}
      },
      "name": "Web App Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500],
      "id": "web-error-node"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Todo Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Todo Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Todo Data": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "AI Enhance Title",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Web App Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Enhance Title": {
      "main": [
        [
          {
            "node": "Create Todo in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todo in Supabase": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web App Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}