n8n-workflow-simple.json
{
  "name": "Todo List Chatbot - Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}",
              "operation": "contains",
              "value2": "#to-do"
            }
          ]
        }
      },
      "name": "Check for #to-do",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://todo-automation-challenge.vercel.app/api/n8n/add-todo",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.message.replace('#to-do', '').trim() }}\",\n  \"user_email\": \"{{ $json.user_email || 'chatbot@example.com' }}\",\n  \"enhance\": true\n}",
        "options": {}
      },
      "name": "Create Todo API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=✅ Todo created: \"{{ $json.n8n_response.title }}\"\n\n🤖 Enhanced by AI: {{ $json.enhancement ? $json.enhancement.improvements : 'Original title used' }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Please send a message with #to-do followed by your task.\nExample: #to-do buy groceries"
      },
      "name": "No Todo Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for #to-do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for #to-do": {
      "main": [
        [
          {
            "node": "Create Todo API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Todo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todo API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}