n8n-workflow-clean.json
{
  "name": "Todo List AI Assistant - Clean",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger", 
      "typeVersion": 1.2,
      "position": [240, 500],
      "credentials": {
        "telegramApi": {
          "name": "YOUR_TELEGRAM_BOT_CREDENTIALS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message ? $json.message.text : $json.text }}",
              "operation": "contains",
              "value2": "#to-do"
            }
          ]
        }
      },
      "name": "Check for #to-do",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "// Detectar origen del mensaje\nconst webhookData = $('Webhook')?.all()?.[0]?.json;\nconst telegramData = $('Telegram Trigger')?.all()?.[0]?.json;\n\nlet text, userEmail, isFromTelegram = false;\n\n// Determinar origen y extraer datos\nif (telegramData && telegramData.message) {\n  // Desde Telegram\n  text = telegramData.message.text || '';\n  userEmail = 'telegram-user@example.com';\n  isFromTelegram = true;\n} else if (webhookData) {\n  // Desde Web App\n  text = webhookData.message?.text || '';\n  userEmail = webhookData.user_email || 'webapp@example.com';\n  isFromTelegram = false;\n} else {\n  return [{ json: { error: true, msg: 'No se pudo determinar el origen' } }];\n}\n\n// Extraer texto de la tarea\nconst todoText = text.replace('#to-do', '').trim();\n\nif (!todoText) {\n  return [{ json: { \n    error: true, \n    msg: 'Falta texto después de #to-do',\n    isFromTelegram: isFromTelegram \n  } }];\n}\n\nreturn [{ json: { \n  title: todoText, \n  user_email: userEmail, \n  enhance: true,\n  isFromTelegram: isFromTelegram,\n  originalText: text\n} }];"
      },
      "name": "Extract Todo Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente que mejora títulos de tareas para una aplicación de to-do list. Tu trabajo es tomar títulos simples y convertirlos en títulos más claros, específicos y accionables.\n\nReglas:\n1. Mantén el título conciso pero claro\n2. Haz que sea específico y accionable\n3. Si es muy vago, sugiere detalles\n4. Mantén el idioma original\n5. SIEMPRE responde en formato JSON válido",
              "role": "system"
            },
            {
              "content": "Mejora este título de tarea: \"{{ $json.title }}\"\n\nRespuesta en formato JSON:\n{\n  \"enhanced_title\": \"título mejorado\",\n  \"changed\": true/false,\n  \"improvements\": \"explicación de los cambios\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "name": "AI Enhance Title",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "name": "YOUR_OPENAI_CREDENTIALS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://todo-automation-challenge.vercel.app/api/n8n/add-todo",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.enhanced_title || $('Extract Todo Data').item.json.title }}\",\n  \"user_email\": \"{{ $('Extract Todo Data').item.json.user_email }}\",\n  \"enhance\": false\n}",
        "options": {}
      },
      "name": "Create Todo in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta según el origen\nconst extractedData = $('Extract Todo Data').item.json;\nconst aiData = $json;\nconst supabaseResponse = $('Create Todo in Supabase').item.json;\n\nconst isFromTelegram = extractedData.isFromTelegram;\n\nif (isFromTelegram) {\n  // Respuesta para Telegram\n  const telegramData = $('Telegram Trigger').item.json;\n  const chatId = telegramData.message.chat.id;\n  \n  let text = `✅ Tarea creada: \"${supabaseResponse.todo?.title || aiData.enhanced_title}\"`;\n  \n  if (aiData.changed) {\n    text += `\\n\\n🤖 Mejora IA:\\n• Original: \"${extractedData.title}\"\\n• Mejorado: \"${aiData.enhanced_title}\"\\n• Cambios: ${aiData.improvements}`;\n  }\n  \n  return [{ json: { \n    chat_id: chatId, \n    text: text,\n    isFromTelegram: true\n  } }];\n} else {\n  // Respuesta para Web App\n  return [{ json: {\n    message: `Tarea creada exitosamente: \"${supabaseResponse.todo?.title || aiData.enhanced_title}\"`,\n    status: \"success\",\n    aiEnhanced: aiData.changed,\n    original: extractedData.title,\n    enhanced: aiData.enhanced_title,\n    improvements: aiData.improvements,\n    isFromTelegram: false\n  } }];\n}"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 200],
      "credentials": {
        "telegramApi": {
          "name": "YOUR_TELEGRAM_BOT_CREDENTIALS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{ $json.message }}\",\n  \"aiEnhanced\": {{ $json.aiEnhanced }},\n  \"original\": \"{{ $json.original }}\",\n  \"enhanced\": \"{{ $json.enhanced }}\",\n  \"improvements\": \"{{ $json.improvements }}\"\n}",
        "options": {}
      },
      "name": "Web App Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isFromTelegram }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Route Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.isFromTelegram ? $('Telegram Trigger').item.json.message.from.id : '' }}",
        "text": "❌ Por favor envía: #to-do <tu tarea>\\nEjemplo: #to-do comprar leche",
        "additionalFields": {}
      },
      "name": "Error Message Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 500],
      "credentials": {
        "telegramApi": {
          "name": "YOUR_TELEGRAM_BOT_CREDENTIALS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": true,\n  \"message\": \"Por favor envía un mensaje con formato: #to-do <tu tarea>\",\n  \"example\": \"#to-do comprar leche\"\n}",
        "options": {}
      },
      "name": "Error Response Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isFromTelegram }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Route Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 550]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for #to-do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check for #to-do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for #to-do": {
      "main": [
        [
          {
            "node": "Extract Todo Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Todo Data": {
      "main": [
        [
          {
            "node": "AI Enhance Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Enhance Title": {
      "main": [
        [
          {
            "node": "Create Todo in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todo in Supabase": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web App Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Error": {
      "main": [
        [
          {
            "node": "Error Message Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}