n8n-workflow-simple-test.json
{
  "name": "Todo Simple Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "webhook-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xbssinixkkfnhqpivtyz.supabase.co/rest/v1/todos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhic3Npbml4a2tmbmhxcGl2dHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMTEzNDUsImV4cCI6MjA3MVg4NzM0NX0.lYKuKaztO7VblydXidtcoeLRaxOyqCrYSByHnT-atko"
            },
            {
              "name": "Authorization", 
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhic3Npbml4a2tmbmhxcGl2dHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMTEzNDUsImV4cCI6MjA3MTg4NzM0NX0.lYKuKaztO7VblydXidtcoeLRaxOyqCrYSByHnT-atko"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.message.text }} (N8N Test)\",\n  \"completed\": false,\n  \"user_email\": \"{{ $json.user_email }}\"\n}",
        "options": {}
      },
      "name": "Direct Supabase Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300],
      "id": "supabase-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Tarea creada directamente\",\n  \"todo\": {{ JSON.stringify($json[0]) }}\n}",
        "options": {}
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "response-node"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Direct Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Supabase Insert": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}