n8n-workflow.json
{
  "name": "Todo List Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}",
              "operation": "contains",
              "value2": "#to-do"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Check for #to-do",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract todo text after #to-do\nconst message = $input.first().json.message || '';\nconst userEmail = $input.first().json.user_email || 'default@example.com';\n\n// Remove #to-do and clean up the message\nconst todoText = message.replace('#to-do', '').trim();\n\nif (!todoText) {\n  return [{\n    json: {\n      error: 'No todo text found after #to-do',\n      response: 'Please provide a todo after #to-do. Example: #to-do buy groceries'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    title: todoText,\n    user_email: userEmail,\n    enhance: true\n  }\n}];"
      },
      "id": "extract-todo",
      "name": "Extract Todo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/add-todo",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "user_email", 
              "value": "={{ $json.user_email }}"
            },
            {
              "name": "enhance",
              "value": "={{ $json.enhance }}"
            }
          ]
        }
      },
      "id": "create-todo",
      "name": "Create Todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst response = $input.first().json;\n\nif (response.success) {\n  const todo = response.todo;\n  const enhanced = response.enhancement;\n  \n  let message = `✅ Todo created: \"${todo.title}\"`;\n  \n  if (enhanced) {\n    message += `\\n\\n🤖 AI Enhancement: ${enhanced.improvements}`;\n    message += `\\nOriginal: \"${enhanced.original_title}\"`;\n    message += `\\nEnhanced: \"${enhanced.enhanced_title}\"`;\n  }\n  \n  return [{\n    json: {\n      response: message,\n      status: 'success'\n    }\n  }];\n} else {\n  return [{\n    json: {\n      response: '❌ Failed to create todo. Please try again.',\n      status: 'error'\n    }\n  }];\n}"
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "Please send a message with #to-do followed by your task. Example: #to-do buy groceries"
      },
      "id": "no-todo-response",
      "name": "No Todo Response", 
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for #to-do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for #to-do": {
      "main": [
        [
          {
            "node": "Extract Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Todo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Todo": {
      "main": [
        [
          {
            "node": "Create Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todo": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}