To-do.json
{
  "name": "To-do",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1280,
        608
      ],
      "id": "e345c6d6-0bd4-47ac-85f3-8e99ebb5ed91",
      "name": "Telegram Trigger",
      "webhookId": "acea79b6-8a99-4520-9965-22db3ad999a7",
      "credentials": {
        "telegramApi": {
          "id": "qvjFJVkNpIgIJmaX",
          "name": "Bencio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body;\n\n// Toma el chat_id directamente del Telegram Trigger\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet text = `✅ Todo creado: \"${b.todo.title}\"\\n` +\n           `👤 Usuario: ${b.todo.user_email}`;\n\nif (b.enhancement && b.enhancement.enhanced_title) {\n  text += `\\n\\n🤖 Mejora IA\\n• Original: \"${b.enhancement.original_title}\"` +\n          `\\n• Mejorado: \"${b.enhancement.enhanced_title}\"`;\n}\n\nreturn [{ json: { chat_id: chatId, text } }];\n"
      },
      "id": "84afc2bc-d1d0-4054-9763-2d86dbc6c807",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -32,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://todo-automation-challenge.vercel.app/api/n8n/add-todo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.message.content.enhanced_title }}"
            },
            {
              "name": "user_email",
              "value": "={{ $('Extract Todo').item.json.user_email }}"
            },
            {
              "name": "enhance",
              "value": "={{ $('Extract Todo').item.json.enhance }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "16a3fd64-a784-4810-ae06-c43061fce49d",
      "name": "Create Todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -256,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Detectar si viene de Telegram o Web App\nconst telegramData = $('Telegram Trigger').item?.json;\nconst webData = $('Webhook').item?.json;\n\nlet text, userEmail;\n\nif (telegramData) {\n  // Desde Telegram\n  text = telegramData.message.text || '';\n  userEmail = 'alexis26-93@live.com'; // Usuario fijo para Telegram\n} else if (webData) {\n  // Desde Web App\n  text = webData.message.text || '';\n  userEmail = webData.user_email || 'webapp@example.com';\n}\n\nconst todoText = text.replace('#to-do', '').trim();\n\nif (!todoText) {\n  return [{ json: { error: true, msg: 'Falta texto después de #to-do' } }];\n}\n\nreturn [{ json: { title: todoText, user_email: userEmail, enhance: true } }];\n"
      },
      "id": "3d44ca55-395e-4c14-9841-e01277041722",
      "name": "Extract Todo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -832,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "contains",
              "value2": "#to-do"
            },
            {}
          ]
        }
      },
      "id": "29a6f9b5-aac6-40e8-ba51-f10b566fd0f4",
      "name": "Check for #to-do",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1056,
        512
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Envía: #to-do <tu tarea> Ejemplo: #to-do comprar leche y pan",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        608
      ],
      "id": "76170a99-4441-430f-a22d-6c8d38814077",
      "name": "Send a text message",
      "webhookId": "720f2cca-7659-452d-9577-23d397455ccc",
      "credentials": {
        "telegramApi": {
          "id": "qvjFJVkNpIgIJmaX",
          "name": "Bencio"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        320
      ],
      "id": "0ba897dc-4504-41f8-a0c0-fa597b0da7b6",
      "name": "Send a text message1",
      "webhookId": "720f2cca-7659-452d-9577-23d397455ccc",
      "credentials": {
        "telegramApi": {
          "id": "qvjFJVkNpIgIJmaX",
          "name": "Bencio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un normalizador de títulos para una app de tareas. \nDevuelves SIEMPRE JSON con un título corregido y claro.\n",
              "role": "system"
            },
            {
              "content": "=Corrige este texto para que sea un título corto y entendible: \n\"{{ $json.title }}\"\nFormato de salida JSON:\n{\n  \"enhanced_title\": \"string\",\n  \"changed\": true|false\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -608,
        416
      ],
      "id": "e2ce5dda-59f4-46ef-9a3a-bed0e5a69209",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "SbhKq2C0hsXguIDx",
          "name": "openai-prueba-intake"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://todo-automation-challenge.vercel.app"
        }
      },
      "id": "b8930b64-d342-4513-8186-cf180e34bf11",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1280,
        416
      ],
      "webhookId": "76f9bea5-501a-42ea-8e64-c0b06330faa1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"{{ $json.response }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "id": "7a5ddde0-9933-49af-8c29-45ea9ec3ef8b",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        192,
        512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todo": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Todo": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for #to-do": {
      "main": [
        [
          {
            "node": "Extract Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check for #to-do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for #to-do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d294426-ae72-43ae-8efd-8dac0dc7c5a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d91aa16ea53d37fd73789f383cf9eaba769caba3a9692b8a422b4f8924d4d856"
  },
  "id": "OFGPegcyzpz26lDm",
  "tags": []
}