Todo Test.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "todo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -816,
        -32
      ],
      "id": "a71c75e2-e48a-4657-adf2-c673803f626f",
      "webhookId": "48e9624f-e0ef-4f8e-b9b2-5c5f7c558f66"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://todo-automation-challenge.vercel.app/api/n8n/add-todo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"title\": \" {{ $json.message.content.enhanced_title }}\",\n    \"user_email\": \"{{ $('Extract Todo').item.json.user_email }}\",\n    \"enhance\": {{ $('Extract Todo').item.json.enhance }}\n  }",
        "options": {}
      },
      "name": "Crear via Web App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        0,
        -64
      ],
      "id": "4ba13977-de72-41ff-9b7f-c2d2478e5fc7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Tarea creada via N8N → Web App → Supabase\",\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "name": "Respuesta Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        -176
      ],
      "id": "805c7172-c41a-4843-8e78-c674446bad25"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -848,
        224
      ],
      "id": "b978d971-d8ed-424d-a57d-d5d8433c48ff",
      "name": "Telegram Trigger",
      "webhookId": "acea79b6-8a99-4520-9965-22db3ad999a7",
      "credentials": {
        "telegramApi": {
          "id": "qvjFJVkNpIgIJmaX",
          "name": "Bencio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body;\n\n// Toma el chat_id directamente del Telegram Trigger\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet text = `✅ Todo creado: \"${b.todo.title}\"\\n` +\n           `👤 Usuario: ${b.todo.user_email}`;\n\nif (b.enhancement && b.enhancement.enhanced_title) {\n  text += `\\n\\n🤖 Mejora IA\\n• Original: \"${b.enhancement.original_title}\"` +\n          `\\n• Mejorado: \"${b.enhancement.enhanced_title}\"`;\n}\n\nreturn [{ json: { chat_id: chatId, text } }];\n"
      },
      "id": "3ca5a2a0-9250-48e8-8921-be79dacbbfb7",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://todo-automation-challenge.vercel.app/api/n8n/add-todo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.message.content.enhanced_title }}"
            },
            {
              "name": "user_email",
              "value": "={{ $('Extract Todo').item.json.user_email }}"
            },
            {
              "name": "enhance",
              "value": "={{ $('Extract Todo').item.json.enhance }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "de7aff98-3a2f-4115-b7d9-fb2508c2672f",
      "name": "Create Todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        16,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code node (Run Once for Each Item)\n\n// Toma el primer item de entrada\nconst item = $input.first() ?? {};\nconst data = item.json ?? {};\n\n// Detectar origen y extraer texto + email\nlet text = '';\nlet userEmail = 'webapp@example.com';\n\n// — Caso Web App (Webhook): el body viene anidado en json.body\nif (data.body?.message?.text) {\n  text = data.body.message.text || '';\n  userEmail = data.body.user_email || 'webapp@example.com';\n}\n// — Caso Telegram Trigger directo al Code node: message en la raíz\nelse if (data.message?.text) {\n  text = data.message.text || '';\n  userEmail = 'alexis26-93@live.com'; // fijo para Telegram\n}\n\n// Normalizar texto (quitar #to-do si viene)\nconst todoText = (text || '').replace('#to-do', '').trim();\n\nif (!todoText) {\n  return [\n    { json: { error: true, msg: 'Falta texto después de #to-do' } }\n  ];\n}\n\nreturn [\n  { json: { title: todoText, user_email: userEmail, enhance: true } }\n];\n"
      },
      "id": "4c0d179f-6554-40d3-b673-a2747524cea1",
      "name": "Extract Todo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -560,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Envía: #to-do <tu tarea> Ejemplo: #to-do comprar leche y pan",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        304
      ],
      "id": "a887d97d-ff4d-4aea-bce5-bbd2e57500e6",
      "name": "Send a text message",
      "webhookId": "720f2cca-7659-452d-9577-23d397455ccc",
      "credentials": {
        "telegramApi": {
          "id": "qvjFJVkNpIgIJmaX",
          "name": "Bencio"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        16
      ],
      "id": "77144e12-2b3b-4cdc-9615-0fe4228f8839",
      "name": "Send a text message1",
      "webhookId": "720f2cca-7659-452d-9577-23d397455ccc",
      "credentials": {
        "telegramApi": {
          "id": "qvjFJVkNpIgIJmaX",
          "name": "Bencio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un normalizador de títulos para una app de tareas. \nDevuelves SIEMPRE JSON con un título corregido y claro.\n",
              "role": "system"
            },
            {
              "content": "=Corrige este texto para que sea un título corto y entendible: \n\"{{ $json.title }}\"\nFormato de salida JSON:\n{\n  \"enhanced_title\": \"string\",\n  \"changed\": true|false\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -336,
        112
      ],
      "id": "2fd4b35e-b9a3-4fca-afa3-643a3cd549bb",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "SbhKq2C0hsXguIDx",
          "name": "openai-prueba-intake"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"{{ $json.response }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "id": "57e3447b-a1fd-438d-a443-746156757107",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        464,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear via Web App": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todo": {
      "main": [
        []
      ]
    },
    "Extract Todo": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Crear via Web App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c28fdc3e-33ca-4429-97bf-22b94b4f719e",
  "meta": {
    "instanceId": "d91aa16ea53d37fd73789f383cf9eaba769caba3a9692b8a422b4f8924d4d856"
  },
  "id": "eamJZ5FzDfqVTPFF",
  "tags": []
}